@font-face {
  font-family: 'Hakgyoansim Monggeulmonggeul';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimMonggeulmonggeul/HakgyoansimMonggeulmonggeul.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimMonggeulmonggeul/HakgyoansimMonggeulmonggeul.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimMonggeulmonggeul/HakgyoansimMonggeulmonggeul.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimMonggeulmonggeul/HakgyoansimMonggeulmonggeul.ttf') format('truetype');
}